
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>

<body>
    @Html.Partial("_Navbar")
    <h1 style="text-align:center;color:crimson">About Us</h1>
    <div style="display:flex;align-items:center;justify-content:center;text-align:center;width:650px;margin-left:auto;margin-right:auto">
        <p>Welcome to CRM, where we are passionate about empowering businesses to thrive through meaningful customer relationships.
        With a deep understanding of the importance of seamless communication and efficient management, we have crafted a CRM platform that is intuitive, versatile, and tailored to suit the diverse needs of modern enterprises.
        Our team is committed to innovation and excellence, constantly refining our solution to exceed industry standards and deliver exceptional value to our clients. 
        At  we believe in building more than just software – we're here to build lasting partnerships and help businesses of all sizes succeed.</p>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
